In [6]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from scipy import stats

data = pd.read_csv("covid_short_data-5.csv")
data.head()

,reporting date,location,country,gender,age,symptom_onset,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered
0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,12/29/2019,01/04/20,1,0.0,0,0
1,1/20/2020,Shanghai,China,female,56.0,1/15/2020,NaN,01/12/20,0,1.0,0,0
2,1/21/2020,Zhejiang,China,male,46.0,01/04/20,NaN,01/03/20,0,1.0,0,0
3,1/21/2020,Tianjin,China,female,60.0,NaN,NaN,NaN,1,0.0,0,0
4,1/21/2020,Tianjin,China,male,58.0,NaN,NaN,NaN,0,0.0,0,0

In [18]:
from datetime import datetime

def to_date(date):
    if len(date.split('/')[-1])==2:   #split('/') - разделяет строку по / и выводит список
        return datetime.strptime(date, '%m/%d/%y').date()
    return datetime.strptime(date, '%m/%d/%Y').date()
#Это сделано, т.к. год в данных записан по-разному(например, 20 или 2020). Это надо учитывать, чтобы не потерять данные

def numOfDays(date1, date2): 
    return (to_date(date2)-to_date(date1)).days

In [19]:
deltaDays = np.array([numOfDays(data['exposure_start'][n], data['exposure_end'][n]) 
                     for n in range(len(data['reporting date'])) 
                     if type(data['exposure_start'][n]) == str 
                     and type(data['exposure_end'][n]) == str 
                     ])
median = np.median(deltaDays)
print(median)
type(median)

3.0

numpy.float64

Инкубационный период в Южной Корее: (для Южной Кореи много строк, где все три даты пустые, поэтому выборка такая маленькая получилась)

In [20]:
def IncubationPeriod_SouthKorea(data,m,n):
    if type(data['exposure_end'][n]) == str and type(data['symptom_onset'][n]) == str and data['country'][n] == 'South Korea':
        nD=numOfDays(data['exposure_end'][n], data['symptom_onset'][n])
        if nD>=0:
            return nD+m
    elif type(data['exposure_start'][n]) == str  and type(data['symptom_onset'][n]) == str and data['country'][n] == 'South Korea':
        return numOfDays(data['exposure_start'][n], data['symptom_onset'][n])-m
    return  

Incubation_SouthKorea = np.array([IncubationPeriod_SouthKorea(data,median,n) for n in range(len(data['reporting date'])) if IncubationPeriod_SouthKorea(data,median,n)!= None])
print(Incubation_SouthKorea) 
len(Incubation_SouthKorea)

[5. 4. 6. 3. 4. 9. 6.]

7

Инкубационный период в Европе:

In [21]:
def IncubationPeriod_Europe(data,m,n):
    if type(data['exposure_end'][n]) == str and type(data['symptom_onset'][n]) == str and (data['country'][n] == 'France' or data['country'][n] == 'Germany' or data['country'][n] == 'Italy' or data['country'][n] == 'UK' or data['country'][n] == 'Spain' or data['country'][n] == 'Belgium' or data['country'][n] == 'Austria' or data['country'][n] == 'Sweden' or data['country'][n] == 'Croatia' or data['country'][n] == 'Switzerland' or data['country'][n] == 'Finland'):
        nD=numOfDays(data['exposure_end'][n], data['symptom_onset'][n])
        if nD>=0:
            return nD+m
    elif type(data['exposure_start'][n]) == str  and type(data['symptom_onset'][n]) == str and (data['country'][n] == 'France' or data['country'][n] == 'Germany' or data['country'][n] == 'Italy' or data['country'][n] == 'UK' or data['country'][n] == 'Spain' or data['country'][n] == 'Belgium' or data['country'][n] == 'Austria' or data['country'][n] == 'Sweden' or data['country'][n] == 'Croatia' or data['country'][n] == 'Switzerland' or data['country'][n] == 'Finland'):
        return numOfDays(data['exposure_start'][n], data['symptom_onset'][n])-m
    return  

Incubation_Europe = np.array([IncubationPeriod_Europe(data,median,n) for n in range(len(data['reporting date'])) if IncubationPeriod_Europe(data,median,n)!= None])
print(Incubation_Europe) 
len(Incubation_Europe)

[4. 4. 7. 5. 6. 7. 8. 6. 8. 5. 7. 6. 5.]

13

Проверим выборки на нормальность с помощью критерия Шапиро-Уилка: (он проверяет гипотезу $H_0$: случайная величина распределена нормально)

In [22]:
stats.shapiro(Incubation_SouthKorea)

ShapiroResult(statistic=0.9137776494026184, pvalue=0.42264872789382935)

In [23]:
stats.shapiro(Incubation_Europe)

ShapiroResult(statistic=0.9276456832885742, pvalue=0.31738579273223877)

Видно, что $P_{value}$ > 0.05 (0.05 - это уровень значимости) в обоих случаях, поэтому гипотеза не отвергается. Т.е. выборки распределены нормально.

Будем использовать критерйи Стьюдента, но сначала проверим равенство дисперсий:

In [33]:
def Ftest_pvalue(d1,d2):
    df1 = len(d1) - 1
    df2 = len(d2) - 1
    F = d1.var(ddof=1)/d2.var(ddof=1)
    double_tailed_pval = 2*stats.f.cdf(F,df1,df2) if F<1 else 2*(1-stats.f.cdf(F,df1,df2))
    return double_tailed_pval

In [34]:
Ftest_pvalue(Incubation_SouthKorea, Incubation_Europe)

0.2497206135641612

Значение > 0.05 (т.е. верна гипотеза о том, что дисперсии равны), поэтому будем применять t-тест с равными дисперсиями.

$H_0$: среднее значение инкубационного периода в Южной Корее равно среднему значению инкубационного периода в Европе

$H_1$: $H_0$ неверна

In [35]:
stats.ttest_ind(Incubation_SouthKorea, Incubation_Europe)

Ttest_indResult(statistic=-0.959067943763484, pvalue=0.35023079671201485)

Значение $P_{value}$ > 0.05, поэтому гипотезу $H_0$ принимаем.